<div id='signup'>
  <h1>signup</h1>
  <form name="signupForm" ng-submit='signup()'>
    <input 
      name='username'
      type='text'
      required
      ng-model='user.username'
      ng-pattern='/^\s*\w*\s*$/'
    >
    <div role="alert">
      <span ng-show="signupForm.username.$error.pattern">Username should not have spaces!
      </span>
      <span ng-show="signupForm.username.$error.required">Username required!</span>
    </div>
    <input 
      name='password'
      type='password' 
      required
      ng-model='user.password'
      ng-pattern='/[0-9]/'
      ng-minlength='8'
      ng-maxlength='16'
    >
    <div role="alert">
      <span ng-show="signupForm.password.$error.pattern">Must contain a number!
      </span>
      <span ng-show="signupForm.password.$error.minlength">Password must be at least 8 characters long!
      </span>
      <span ng-show="signupForm.password.$error.maxlength">Password must be at most 16 characters long!
      </span>
      <span ng-show="signupForm.password.$error.required">Password required!</span>
    </div>
    <br>
    <button>signup</button>
  </form>
  <a href="#/signin">Already have an account? <strong>Signin</strong> ...</a>
</div>
